.questions-container {
    position: fixed;
    height: 100vh;
    width: auto;
    display: flex;
    transition: left 0.5s ease;
    z-index: 1;
}

.question {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.buttons-container {
    position: absolute;
    width: 200px;
    left: 50%;
    top: calc(50% + 200px);
    transform: translate(-50%, -50%);
}

.question-text {
    position: absolute;
    width: 100%;
    max-width: 90vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button-next {
    float: right;
}

.button-prev {
    float: left;
}

.exit-button {
    position: fixed;
    z-index: 100;
    right: 10px;
    top: 10px;
}

.questions-navigation {
    position: fixed;
    z-index: 100;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
}