{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": 0
  },
  "globals": {
    "renderApp": true,
    "createComponent": true
  }
}