html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

h2 {
    color: black;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 30px;
}

h1, h2, section > p, .title {
    padding: 0 15%;
}

pre {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    margin: 0;
}

.home {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*padding: 0 10%;*/
}

.title {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.title > img {
    width: 100px;
    margin-right: 15px;
    filter: brightness(120%) contrast(110%);
 }

.title > span {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
}

.heading {
    font-size: 20px;
    padding: 10px 15%;
    background-color: #bfdbed;
    margin-top: 20px;
    text-align: right;
    color: #434850;
}

.dom-vs-phantom {
    display: flex;
    /*width: 100%;*/
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.dom-vs-phantom > div {
    width: 46%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 780px) {
    .dom-vs-phantom {
        flex-direction: column;
    }

    .dom-vs-phantom > div {
        width: 100%;
    }

    .dom-vs-phantom > div:nth-child(2) {
        margin-top: 20px;
        width: 100%;
    }
}

.code-example {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 15%;
    color: #313131;
}

.code-example > div {
    width: 46%;
    min-height: 200px;
    border-radius: 10px;
    padding: 10px;
}

.code-example > div:nth-child(1) {
    background-color: #EBEBEB;
    color: black;
    font-weight: 700;
}

.code-example > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 780px) {
    .code-example {
        flex-direction: column-reverse;
    }

    .code-example > div {
        width: 100%;
    }

    .code-example > div:nth-child(1) {
        width: 100%;
    }
}

.button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: black;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}

.changing-properties-app {
    font-size: 26px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
}

.changing-properties-app > div {
    margin-top: 10px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

c {
  color: #24b479;
}

k {
  color: #ff6f69;
}

f {
  color: #f28549;
}

