html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

h2 {
  color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 30px;
}

h4 {
  margin-bottom: 0;
}

h4 + p {
  margin-top: 0;
}

section, footer {
  padding: 0 15%;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.heading {
  font-size: 20px;
  padding: 10px 15%;
  background-color: #bfdbed;
  margin-top: 20px;
  color: #434850;
  display: flex;
  justify-content: space-between;
}

.heading span {
  text-align: right;
}

.github {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url('images/github.png');
  background-size: contain;
  background-repeat: no-repeat;
}

pre {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  margin: 0;
  overflow: scroll;
  font-weight: 700;
}

footer {
  margin: 40px 0 10px;
}

@media (max-width: 900px) {
  section, footer {
    padding: 0 5%;
  }

  pre {
    font-size: 12px;
  }

  .heading {
    padding: 10px 5%;
  }
}

.code-example {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  color: #313131;
}

.code-example > div {
  width: 48%;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.code-example > div:nth-child(1) {
  background-color: #EBEBEB;
  color: black;
  font-weight: 700;
}

.code-example > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /*height: 200px;*/
}

.code-example > div:nth-child(2)::after {
  /*content: "";*/
  /*background-image: url('images/gruu2.png');*/
  /*opacity: 0.1;*/
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
  /*position: absolute;*/
  /*z-index: -1;*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
}

.code-example > div:nth-child(2) > pre {
  position: relative;
}

.subscriptions-example {
  display: flex;
  justify-content: space-around;
}

.code {
  background-color: #EBEBEB;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 600px) {
  .code-example {
    flex-direction: column-reverse;
  }

  .subscriptions-example {
    flex-direction: column;
  }

  .code-example > div {
    width: 100%;
  }

  .code-example > div:nth-child(1) {
    width: 100%;
  }
}

.home {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.title > img {
  width: 100px;
  margin-right: 15px;
  filter: brightness(120%) contrast(110%);
 }

.title > span {
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}

.dom-vs-phantom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.dom-vs-phantom > div {
  width: 46%;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 600px) {
  .dom-vs-phantom {
    flex-direction: column;
  }

  .dom-vs-phantom > div {
    width: 100%;
  }

  .dom-vs-phantom > div:nth-child(2) {
    margin-top: 20px;
    width: 100%;
  }
}


.button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  color: black;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
}

.changing-properties-app {
  font-size: 26px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
}

.changing-properties-app > div {
  margin-top: 10px;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-app li {
  padding: 1px 5px;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
}

li:before{
  content: '';
  display: inline-block;
  height: 10px;
  width: 20px;
  background-image: url('images/foot.png');
  background-size:contain;
  background-repeat:no-repeat;
  margin-right: 5px;
}

.todo-app li:hover {
  background-color: #EBEBEB;
}

.todo-app input, .todo-app button {
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #EBEBEB;
}

.todo-app input {
  padding: 10px;
  margin: 0;
  border-radius: 10px 0 0 10px;
}

.todo-app input:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 20px;
  background-image: url('images/foot.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.todo-app button {
  border-radius: 0 10px 10px 0;
  width: 50px;
  background-color: #EBEBEB;
  color: black;
  cursor: pointer;
}

.todo-app button:hover:enabled {
  background-color: #a4a4a4;
  border-color: #a4a4a4;
}

.todo-app button:disabled {
  opacity: 0.6;
  color: gray;
  cursor: not-allowed;
}

.todo-app {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px;
}

c {
  color: #24b479;
}

k {
  color: #ff6f69;
}

f {
  color: #f28549;
}

