.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.question-container {
    display: flex;
    flex-direction: column;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}